.mmo-text{}
.mmo-comission{font-weight:bold;}
#mmoTableComissions{margin-top:40px;}
#mmoTableOrders{margin-top:40px;}
.customeremoney{}
.customeremoney h2{
    font-size:16px;
    color:var(--color3);
}
.totalordermoney{}
.totalordermoney h2{font-size:16px;}
.totalordermoney,.customeremoney{
	  border: 2px #f0f0f0 solid;
    padding: 10px;
    margin: 10px;
}
.shoppingMegamoney{
    background:#f6f6f6;
    padding:15px;
    margin:15px 0px;
}
#shoppingMegamoneyContent{
    padding:15px 0px;
}
.shoppingMegamoney .title{font-weight:bold;}

.moneyapplycontrols{
    display: flex;
    align-items: center;
    gap: 5px;
}
.moneyapplycontrols #moneycart{
    margin-bottom: 0px;
    border-radius: 10px;
    border: 1px solid var(--color3, #000000);
    background: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    width: 100%;
    max-width: 240px;
    text-align: center;
}
.moneyapplycontrols .btn-moneycart{
    margin-left:20px;
}