/* simplelisting */

.productListBtnDiv{
    /*position: relative !important;*/
    /*right: 0px !important;*/
}

.page-header {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.page-header h1{
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000;
}