/**/

.contact-form .inp {
    max-width: 100%;
}

label.btn.btn-default {
    background: var(--color1);
    border-radius: 5px;
    color: white;
}
.bootstrap-filestyle.input-group input.form-control {
    max-width: calc(100% - 216px);
}
span.group-span-filestyle.input-group-btn {
    background: none;
}
span.group-span-filestyle.input-group-btn label.btn.btn-default {
    background: var(--color1);
    color: white;
    margin: 0px;
    height: 56px;
    line-height: 56px;
}
.bootstrap-filestyle.input-group {
    gap: 10px;
}
section.contact-form {
    margin-bottom: 50px;
}

section.contact-form .custom-checkbox input[type="checkbox"] + span {
    border: 1px solid var(--color1);
    min-width: 18px;
}
.gdpr_consent {
    margin-bottom: 20px;
}
.captcha_contact.form-group {
    margin-bottom: 20px;
}
footer.form-footer input.btn.btn-primary {
    min-width: 280px;
    margin: 0 auto;
}
footer.form-footer {
    text-align: center;
}
.contact-rich .block {
    display: flex;
    gap: 10px;
}
.contact-rich .data {
    font-size: 13px;
    line-height: 24px;
}
.contact-rich h4, .contact-form h3{
    margin-bottom: 10px;
    text-transform: uppercase;
}
section.contact-form label.psgdpr_consent_message {
    display: flex;
}
section.contact-form label.psgdpr_consent_message span {
    font-size: 14px;
}
@media(max-width:991px) {
    body#contact .container > .row {
        flex-direction: column-reverse;
    }
    div#left-column {
        width: 100%;
        margin-bottom: 40px;
    }
    span.group-span-filestyle.input-group-btn label.btn.btn-default {
        font-size: 14px;
        max-width: 170px;
        padding: 0px 10px;
    }  
    .bootstrap-filestyle.input-group input.form-control {
        max-width: calc(100% - 165px);
    }
}
