.infinitescroll-bottom-message{
    display: block;
    width: 250px;
    padding: 10px 13px;
    border: none!important;
    margin: 0 auto;
    text-align: center;
}
.infinitescroll-bottom-message.infinitescroll-load-more{
	text-align: center;
}

.infinitescroll-bottom-message a:hover{
	opacity: 0.9;
}
.pagination{
    visibility: hidden;
}